.custom-loader {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #e4e4ed;
  border-right-color: #27ae60;
  animation: s2 1s infinite linear;
}

@keyframes s2 {
  to {
    transform: rotate(1turn);
  }
}
