.custom-loader {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #E4E4ED;
    border-right-color: #27AE60;
    animation: s2 1s infinite linear;

}

@keyframes s2 {
    to {
        transform: rotate(1turn)
    }
}