.spinner {
    margin: auto;
    width: 150px;
    height: 80px;

}

.spinner>div {
    background: #195fd2;
    height: 100%;
    width: 6px;

    border-radius: 10px;
    float: left;
    margin: 0 5px;
    -webkit-animation: stretch 2s infinite;
    animation: stretch 2s infinite;
    -webkit-animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
    animation-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

.spinner .r1 {
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
}

.spinner .r2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .r3 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

.spinner .r4 {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s;
}

.spinner .r5 {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s;
}

@-webkit-keyframes stretch {

    0%,
    20%,
    49% {
        transform: scaleY(0.4);
        background-color: #195fd2;
    }

    10% {
        transform: scaleY(1);
    }

    50%,
    70%,
    100% {
        transform: scaleY(0.4);
        background-color: #649129;
    }

    60% {
        transform: scaleY(1);
        background-color: #649129;
    }
}

@keyframes stretch {

    0%,
    20%,
    49% {
        transform: scaleY(0.4);
        background-color: #195fd2;
    }

    10% {
        transform: scaleY(1);
    }

    50%,
    70%,
    100% {
        transform: scaleY(0.4);
        background-color: #649129;
    }

    60% {
        transform: scaleY(1);
        background-color: #649129;
    }
}