.rhap_container {
    background-color: #ffffffbe;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    padding-bottom: 10px;
}

.rhap_progress-bar {
    background-color: #e0e0e0;
    border-radius: 8px;
}

.rhap_progress-indicator {
    background-color: #888;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.rhap_time {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #333;
}

.rhap_button-clear {
    color: #fff;
}

.rhap_volume-button,
.rhap_volume-controls {
    align-items: flex-start;
}

.rhap_main-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.rhap_controls-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rhap_volume-controls {
    margin-left: auto;
}

.rhap_volume-indicator {
    background-color: #888;
    height: 6px;
}

.rhap_button-clear svg {
    width: 28px;
    height: 28px;
}